.fundo{
    background-color: #dfdfdf;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    display: flex;
    width: 70%;
    height: 80%;
  
    background-color: #ffffff;
    border-radius: 5px;
}
.barra-titulo{
    position: relative;
    display: flex;
    background: #3981a7;
    width: 100%;
    height: 15%;
    justify-content: center;
    align-items: center;

    border-radius: 5px 5px 0 0;
}
h1{
    color: #ffffff;
    font-weight: lighter;

}
.botao-voltar{
    display: flex;
    align-items: center;
    position: absolute;
    left: 40px;
    color: #ffffff;
    font-size: 16px;
    font-weight: bold;
}
span{
    margin-left: 4px;
}
img{
    width: 20px;
    height: 30px;
}
.inputs{
    height: 100%;
    display: flex;
    flex-direction: column;
}
.imagem{
    display: flex;
    position: absolute;
    width: 300px;
    height: 290px;
    background: #c4c4c4;
    align-items: center;
    justify-content: center;
    left: 245px;
    top: 200px;
}
#imagem-produto{
    width: 100px;
    height: 100px;
}
#nome-produto{
    position: absolute;
    width: 35%;
    height: 7.5%;
    right: 245px;
    top: 200px;
    padding: 0 10px;
    
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #3981a7;
    outline: transparent;

    font-size: 20px;
}
#descricao-produto{
    position: absolute;
    width: 35%;
    height: 23%;
    right: 245px;
    top: 270px;
    padding: 0 0 105px 10px;
  
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #3981a7;
    outline: transparent;

    font-size: 20px;
}
#valor-produto{
    position: absolute;
    width: 15%;
    height: 7.5%;
    right: 375px;
    top: 440px;
    padding: 0 10px;;
  
    box-sizing: border-box;
    border-radius: 5px;
    border: 2px solid #3981a7;
    outline: transparent;
  
    font-size: 20px;
}
::placeholder{
    font-size: 20px;
    color: #acacac;
}
.adicionar{
    position: absolute;
    width: 180px;
    height: 50px;
    top: 510px;
    left: 575px;

    background: #36803E;
    border-radius: 5px;
    color: #ffffff;
    font-weight: bold;
    font-size: 20px;
}